@font-face {
    font-family: 'Balm';
    src: url('Balm-Bold-Italic.woff2') format('woff2'),
        url('Balm-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Balm';
    src: url('Balm-Bold.woff2') format('woff2'),
        url('Balm-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Balm';
    src: url('Balm-Italic.woff2') format('woff2'),
        url('Balm-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Balm';
    src: url('Balm-Regular.woff2') format('woff2'),
        url('Balm-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

