@font-face {
    font-family: 'Walbaum';
    src: url('Walbaum-Bold-Italic.woff2') format('woff2'),
        url('Walbaum-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Walbaum';
    src: url('Walbaum-Bold.woff2') format('woff2'),
        url('Walbaum-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Walbaum';
    src: url('Walbaum-Italic.woff2') format('woff2'),
        url('Walbaum-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Walbaum';
    src: url('Walbaum-Regular.woff2') format('woff2'),
        url('Walbaum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

